@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-neutral: #f1e9dc;
    --background-incorrect: #f44336; 
    --background-correct: #95d268;
}

html,
body {
    --background: var(--background-neutral);
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: xx-large;
    color: #453B3B;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

body.correct {
    --background: var(--background-correct);
}

body.incorrect {
    --background: var(--background-incorrect);
}

.container {
    width: 800px;
    height: fit-content;
    max-width: 80%;
    background-color: #d3cdcd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.button {
    border: 1px solid #453B3B;
    background-color: #f1e9dc border-radius: 5px;
    padding: 5px 10px;
    color: #453B3B;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-weight: 400;
    font-size: 0.8rem;
}

.button:hover {
    border: 3px solid #453B3B;
    
}

.button.correct {
    background-color: var(--background-correct);
}   

.button.incorrect {
    background-color: var(--background-incorrect);  
}

.start-button, .next-button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #00aaff;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.hide {
    display: none;
  }